/*
font :
font-family: 'Permanent Marker', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Maven Pro', sans-serif;
color border : rgb(6, 100, 124) solid 1px;
color background : rgb(212, 211, 211);
*/

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Maven Pro', sans-serif;
    background: rgb(243, 243, 243);
}

header{
    font-family: 'Permanent Marker', cursive;
  

}
h1{
    color: rgb(14, 13, 13);
}      
