*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/*
font :

font-family: 'Sriracha', cursive;
font-family: 'Amiri', serif;

color : 

color: rgb(87, 9, 212) >>> lien visité
background: rgb(2, 39,49); bleu 
color:rgb(247, 185, 41); jaune
*/

body{
    font-family: 'Amiri', serif;  
}
/*HEADER*/
header{
    font-family: 'Sriracha', cursive;
    background: rgb(2, 39, 49);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

h1{
    color:rgb(233, 199, 119);
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    padding: 2%;
}
h2{
    color: rgb(233, 199, 119);
    font-family: 'Sriracha', cursive;
    display: flex;
    justify-content: center;
    background: rgb(2, 39, 49);
}


a{
    text-decoration: none;
    color : rgb(233, 199, 119); 
}

.image{
   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 1s rgba(255, 255, 255, 0.144);
}

.profil{
    width: 13%;
}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}
li{
    
    padding : 1%;
    margin : 1%;
    border-radius: 30px;
    background: linear-gradient(145deg, #02232c, #022a34);
    box-shadow: 30px 30px 60px #011217, 
            -30px -30px 60px #033c4b;
    
}





a:visited{
    color:blanchedalmond;

}

/*PRESENTATION*/

.presentation{
   background:rgb(228, 226, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 2%;
/*margin: 2%;*/
}



p{
    padding: 2%;
}

.pdroite{
    background: rgb(2,39,49);
    color: rgb(236, 234, 234);
    border-radius: 10%;
}

/* FOOTER*/

.contact{
    display: flex;
    justify-content: space-around;
    background: rgb(2,39,49);

    
  
}


.coordonnees{
    margin : 2%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: rgb(236, 234, 234)
}


form {
    width : 25% ;
    display : flex;
    
}

.champs{
    
    padding-right : 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(236, 234, 234)
    
}

input {
    padding: 2%;
    border-radius: 50px;
    background: linear-gradient(145deg, #022a34, #02232c);
    box-shadow: 30px 30px 29px #011b22, 
                -30px -30px 29px #033340;
}

input::placeholder{
   text-align: center;
   color: rgb(236, 234, 234)
}
.formulaire{ /* >>>> gère le textarea + input */
    display : flex ;
    flex-direction: row;
    
}

textarea{
    border-radius: 30px;
    background: linear-gradient(145deg, #fdfafa, #d4d3d3);
    box-shadow: 30px 30px 60px #01171d, 
                -30px -30px 60px #033745;
    margin-top: 5%;
    margin-bottom: 5% ;
    padding : 2%;
    text-align: center;
}

textarea::placeholder {
    text-align: center;
}

.bouton {
    width : 25%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 5%; 
    
}

.reset{
  margin : 20%
}

input[type="reset"], input[type="submit"]{
    color: rgb(236, 234, 234);
}

/* ANIMATION */

@media(hover: hover ){
    
    a:hover{
        color : rgb(2,39,49);
    }

    li:hover{
        border-radius: 30px;
        background: linear-gradient(145deg, #d2b36b, #f9d57f);
        box-shadow: 30px 30px 60px #6e5e38, 
                    -30px -30px 60px #ffffb6;
        
    }

    input::placeholder:hover{
        color : rgb(2,39,49);
    }
    input:hover{
        border-radius: 25px;
        background: linear-gradient(145deg, #d4d3d3, #fdfafa);
        box-shadow: 30px 30px 60px #6f6e6e, 
                    -30px -30px 60px #ffffff;
    }

    
}



/* Parcours */


/* Portfolio */

/* MEDIA */
/* IPAD PRO ET IPAD*/
@media screen and (max-width : 1024px){
    body{
        background: yellow;
        max-width: 1024px;
        
    }    

    .header{
        max-width: 1024px;
    }
    .presentation{
        display : flex;
        flex-direction: column;

    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }


    label,legend,input{
        display: block;
        text-align: center;
    }

   
}   



/*GRAND SMARTPHONE*/
@media screen and (max-width : 415px){
    body {
        background : red;
    
    }
    header{
        background-image: url(dark-wood-texture-2210x1475.jpg) center;
        max-width: 415px;
    }
    h1{
        color: rgb(236, 235, 235);
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
        margin: 1%;
    }
    .cv{
        width : 23%
    }
  
    .presentation{
        display : flex;
        flex-direction: column;
    }
    
    .form{
        display: flex;
        flex-direction: column;
    }
}

/*SMARTPHONE*/
@media screen and (max-width : 375px){
    body{
        background: chartreuse;
    }

h1{
    color: rgb(236, 235, 235);
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    margin: 1%;
}
.cv{
    width : 23%
}

.presentation{
    display : flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

}

