/*
font h1-h2-navbar : font-family: 'Righteous', cursive;
font p  : font-family: 'Gotu', sans-serif;

color : 

*/

*{
  margin : 0;
  padding : 0;
  color:white;
  font-family:'Gotu', sans-serif;;
}
body {
  background: rgb(9, 6, 44);
}


/* ###-HEADER-### */

header{
  padding : 5em;
}

h1{
  width : 80%;
  font-family: 'Righteous', cursive;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  padding : 0.5em;
  Font-size : 100px;
  text-transform: uppercase;
  
}





h2{
  padding : 1.5em;
  display : flex;
  font-size : 75px;
  justify-content : flex-end;
  font-family: 'Righteous', cursive;
}

a{
  text-decoration: none;
 
}
.name {
  font-family: 'Righteous', cursive;

}
.name:hover{
  color : rgb(9, 6, 44);
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  14px 14px 5px #d9d9d9, 
             -14px -14px 5px #ffffff;
}


ul{

list-style-type: none;
display: flex;
flex-direction: row;
justify-content: center;
margin-top:6em;
}

li{
  padding : 1em;
  
}

.linkNavbar{
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

.linkNavbar:hover{
  color : rgb(9, 6, 44);
  border-radius: 1px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  5px 5px 3px #d9d9d9, 
             -5px -5px 3px #ffffff;

}


/* ###-MAIN-### */

.presentation{
  padding : 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p{
  padding : 2em;
  
}

.description{
  
  width : 40%;
  display: flex;
  flex-direction: column;
  

}

.candidature{
  padding :  1.5em;
  color : rgb(9, 6, 44);
  border-radius: 1px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  5px 5px 2px #d9d9d9, 
               -5px -5px 2px #ffffff;
  height: 30%;
  width : 20%;
  display: flex;
  align-items: center;
}

/* ###-FOOTER-### */

.contact{
  display: flex;
  flex-direction : row;
  justify-content : space-around;
  align-self: center;
}

.coordonnees{
  padding : 1.5em;
  display : flex ;
  align-self: center;
  font-size : 2em;
}

.champs{
  display: flex;
  flex-direction: column;
}

label{
  padding : 0 1.5em 0.5em 0;
  display: flex;
  justify-content: center;
}

input{
  color : rgb(9, 6, 44);
}

::placeholder{
   text-align: center;
}

textarea{
  color : rgb(9, 6, 44);
}

.bouton{
  display: flex;
  justify-content: space-around;
  padding-top : 2em
}


.button{
  color : rgb(9, 6, 44);
  width : 5em;
}

.button:hover{
color : rgb(9, 6, 44);
border-radius: 0px;
background: #ffffff;
box-shadow:  5px 5px 2px #ababab, 
             -5px -5px 2px #ffffff;
}
.plan{
  padding : 2em ;
  display: flex;
  flex-direction : column;
  align-items: center;
}

/* ###-ANIMATION-### */ 

.text-shadow-drop-bl {
	-webkit-animation: text-shadow-drop-bl 1s ;
	        animation: text-shadow-drop-bl 1s ;
}

/**
 * ----------------------------------------
 * @animation text-shadow-drop-bl
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-drop-bl {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-bl {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
