/*
font h1-h2-navbar : font-family: 'Righteous', cursive;
font p  : font-family: 'Gotu', sans-serif;

color : rgb(9, 6, 44)

*/

*{
  margin : 0;
  padding : 0;
  color:white;
  font-family:'Gotu', sans-serif;;
}
body {
  background: rgb(9, 6, 44);
}


/* ###-HEADER-### */

header{
  padding : 5em;
}

h1{
  width : 80%;
  font-family: 'Righteous', cursive;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  padding : 0.5em;
  Font-size : 100px;
  text-transform: uppercase;
  
}





h2{
  padding : 1.5em;
  display : flex;
  font-size : 75px;
  justify-content : flex-end;
  font-family: 'Righteous', cursive;
}

a{
  text-decoration: none;
 
}
.name {
  font-family: 'Righteous', cursive;

}
.name:hover{
  color : rgb(9, 6, 44);
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  14px 14px 5px #d9d9d9, 
             -14px -14px 5px #ffffff;
}


ul{

list-style-type: none;
display: flex;
flex-direction: row;
justify-content: center;
margin-top:6em;
}

li{
  padding : 1em;
  
}

.linkNavbar{
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

.linkNavbar:hover{
  color : rgb(9, 6, 44);
  border-radius: 1px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  5px 5px 3px #d9d9d9, 
             -5px -5px 3px #ffffff;

}


/* ###-MAIN PAGE D'ACCUEIL-### */

.presentation{
  padding : 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p{
  padding : 2em;
  
}

.description{
  
  width : 40%;
  display: flex;
  flex-direction: column;
  

}

.candidature{
  padding :  1.5em;
  color : rgb(9, 6, 44);
  border-radius: 1px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  5px 5px 2px #d9d9d9, 
               -5px -5px 2px #ffffff;
  height: 30%;
  width : 20%;
  display: flex;
  align-items: center;
}

/* ###-MAIN PARCOURS -### */

.slide-in-left{
  margin-right : 10%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
}

.slide-in-right{
  margin-left : 10%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row-reverse;
 justify-content : flex-end ;
 align-items : center;
}

h3{
  padding : 2%;
}

.competences{

margin : 15%;
border-radius: 1px;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  20px 20px 0px #d9d9d9, 
             -20px -20px 0px #ffffff;
       
}

.competence{
display: flex;
justify-content: center; 

}

span{
  color : rgb(9, 6, 44);
}

.fa-star{
  color : rgb(9, 6, 44);
}




/* ###-FOOTER-### */

.contact{
  display: flex;
  flex-direction : row;
  justify-content : space-around;
  align-self: center;
}

.coordonnees{
 
  padding : 1.5em;
  display : flex ;
  flex-direction: column;
 
  font-size : 2em;
}

.champs{
  display: flex;
  flex-direction: column;
}

label{
  padding : 0 1.5em 0.5em 0;
  display: flex;
  justify-content: center;
}

input{
  color : rgb(9, 6, 44);
}

::placeholder{
   text-align: center;
}

textarea{
  color : rgb(9, 6, 44);
}

.bouton{
  display: flex;
  justify-content: space-around;
  padding-top : 2em
}


.button{
  color : rgb(9, 6, 44);
  width : 5em;
}

.button:hover{
color : rgb(9, 6, 44);
border-radius: 0px;
background: #ffffff;
box-shadow:  5px 5px 2px #ababab, 
             -5px -5px 2px #ffffff;
}
.plan{
  padding : 2em ;
  display: flex;
  flex-direction : column;
  align-items: center;
}








/* ###-ANIMATION-### */ 

/* ANIMATION PAGE ACCUEIL */ 

/* ----animation header -----*/

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/* ---- Animation page parcours ------ */

/* --- Animation slide left --- */

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s ;
	        animation: slide-in-left 0.5s ;
}

/* WEBkit slide left */ 

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* --- Animation slide right ---*/

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s ;
	        animation: slide-in-right 0.5s ;
}

/*WEBkit slide right */

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}